@font-face{font-family: "Lemon Milk";
src: url("./lemonmilk/lemonmilkregular-webfont.woff") format("woff");
src: url("./lemonmilk/lemonmilkregular-webfont.woff2") format("woff2");}
@font-face{font-family: "Bird Love";
src: url("./birdlove/birdlove-webfont.woff") format("woff");
src: url("./birdlove/birdlove-webfont.woff2") format("woff2");}
@font-face {
	font-family: 'MuseoModerno';
	src: url('./MuseoModerno/MuseoModerno-Light.eot');
	src: url('./MuseoModerno/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
		 url('./MuseoModerno/MuseoModerno-Light.woff2') format('woff2'),
		 url('./MuseoModerno/MuseoModerno-Light.woff') format('woff'),
		 url('./MuseoModerno/MuseoModerno-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

body,html {font-family: "Trebuchet MS", sans-serif;
           background-color: #EBF8FF;}
h1 {color: #6BBA7F; font-family: "MuseoModerno", sans-serif;
    font-size: 75px; font-weight: 500; line-height: 5%;
    padding: 50px; margin: 0;}
h2 {color: #5E6973; font-family: "Lemon Milk", sans-serif;
    font-size: 20px; font-weight: 400;}
h3 {font-size: 25px; font-weight:400; color: #437950;}

#nav {background-color: #EBF8FF; width: 100%; position: fixed; top: 0;
      left: 0; padding: 0; list-style-type: none; margin: 0; z-index: 1;}
#nav a {color: #437950; font-family: "Lemon Milk", sans-serif;
        font-size: 15px; font-weight: 400; display: block;
        float: right; text-decoration: none; padding: 14px 16px;
        text-align: center;}
#nav a:hover {background: #CFF0D8;}
#nav a.active {background: #CFF0D8;}
#header {position: fixed; top: 45px; text-align: center; display: block;
         width: 100%; background-color: #FFF; height: 155px;
         background-image: url("./images/headerimage.png"); 
         background-size: auto;}
         
#main {padding: 200px 0px; text-align: center; font-size: 20px;}

#footer {font-size: 16px; background-color: #FFF; width:100%; padding: 3px;
        height: 45px; bottom: 0;}